<header>
  <div class="site-title"> <img src="{{ site.baseurl }}/favicon.png" width="50" height="50"/> <a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
  <nav>
    {% assign categories = "Main Menu, Blog" | split: ", " %}
    {% for category in categories %}
      <div class="category">{{ category }}</div>
      <ul>
      {% assign items = site.devjammer | where: "category", category | sort: "order" %}
	  {% if items.first %}
	  {% else %}
	  {% assign items = site.blog | where: "category", category | sort: "order" %}
	  {% endif %}
      {% for item in items %}
        <li><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
	
	<div class="category">Extenal</div>
	  <ul>
	    {% for item in site.external_links %}
	      <li><a href="{{ item.href }}">{{ item.title }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	
	<div class="category">Social</div>
	  <ul>
	    {% for item in site.social_media %}
	      <li><a href="{{ item.href }}">{{ item.title }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
  </nav>
</header>
